@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(http://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/abel/v6/EAqh528fFdbUek8UOky4sA.woff) format('woff');
}

ul.errorlist {
	display: none;
	}
html {
	/* background: url("{% static "img/background.jpg"%}") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
    background-color: rgba(240, 240, 255, 0.9)
}

body {
	padding-top: 20px;
	font-size: 16px;
	background: transparent;
}

h1 {
	font-family: "Abel", Arial, sans-serif;
	font-weight: 400;
	font-size: 40px;
	text-align: center;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
	background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertgiical {
	margin: 40px 0;
}
i {
    position: relative;
    left: 5px;
    top: 4px;
}
textarea, input[type="number"], input[type="search"], input[type="text"], select  {
   width: 23%;
   font-size: 14px;
   padding: 6px 0 4px 10px;
   border: 1px solid #c4e3f3;
   background: #f9f9f9;
   border-radius: 8px;
}
.error textarea, .error input[type="number"], .error input[type="search"], .error input[type="text"], .error select {
    border-radius: 8px;
    border-color: red;
}
select[multiple="multiple"] {
    height: 350px;
    width: 40%;
    font-size: 13px;
}

textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  width: 550px; !important
  height: 252px; !important
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control1 {
  position: relative;
  display: table;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  display: table;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.date {
  width: 300px;
}






























































































































