td {
    text-align: center;
}

tr {
    cursor: default;
}

.highlight {
    background: #999999;
}

input[class="button0"] {
    position: absolute;
    left: 70%;
    top: 16%;
}
input[class="button1"] {
    position: absolute;
    left: 70%;
    top: 20%;
}
input[class="button2"] {
    position: absolute;
    left: 70%;
    top: 24%;
}
input[class="button3"] {
    position: absolute;
    left: 70%;
    top: 28%;
}
