td {
    text-align: center;
}

tr {
    cursor: default;
}

.highlight {
    background: #999999;
}

input[class="button0"] {
    position: absolute;
    left: 70%;
    top: 16%;
}
input[class="button1"] {
    position: absolute;
    left: 70%;
    top: 20%;
}
input[class="button2"] {
    position: absolute;
    left: 70%;
    top: 24%;
}
input[class="button3"] {
    position: absolute;
    left: 70%;
    top: 28%;
}
input[class="button4"] {
    position: absolute;
    left: 70%;
    top: 32%;
}
input[class="button5"] {
    position: absolute;
    left: 70%;
    top: 36%;
}
input[class="button6"] {
    position: absolute;
    left: 70%;
    top: 40%;
}
input[class="button7"] {
    position: absolute;
    left: 70%;
    top: 44%;
}
input[class="button8"] {
    position: absolute;
    left: 70%;
    top: 48%;
}
input[class="button9"] {
    position: absolute;
    left: 70%;
    top: 52%;
}
