<!DOCTYPE HTML>
<html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
    <title>Прийняття об'єкта на тимчасове зберігання</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
 <div class="row">
     <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
         <form method="post" class="form">
             {% csrf_token %}
              {{form.as_p}}
             {% buttons %}
            <button type="submit" class="btn btn-success btn-block">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
         </form>
      </div>
     </div>
 </div>
</div>


</body>
</html>
