<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Головна</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static "static/bootstrap.min.css" %}" >
	<link rel="stylesheet" type="text/css"  href="{% static "fonts/css/font-awesome.css" %}" >
    <link href="{% static "static/style.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static "static/mycss.css" %}"  >
    <script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/my_scripts.js" %}"></script>

	<style>

		html {
			/* background: url("{% static "img/background.jpg"%}") no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover; */
            background-color: rgba(240, 240, 255, 0.9)
		}

		body {
			padding-top: 20px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
			text-align: center;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}



	</style>

</head>
<body>
    {% if not form %}
	<div class="logout">Ви увiйшли як {{ user }}<br><a href="/logout/">Вийти</a></div>
	{% endif %}
    <div class="popup reg_form">
		<a class="close" href="#">Закрити</a>
		<h2>Aвторизацiя</h2>
		<form method="post" action="">
			{% csrf_token %}
            {{ form.as_p }}
			<input type="submit" value="Log in">
		</form>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">

				<h1 class="margin-base-vertical">Автоматизоване робоче місце для співробітників музею</h1>


				<p>
					<span class="glyphicon glyphicon-book"></span>
					Основні облікові сценарії:
				</p>

                {% if not form %}
				<ul class="list-group">
					<li class="list-group-item"><a href='staff/add_on_ts/{{ project.id }}'>Приймання предметів на тимчасове зберігання <span class="badge">2.1</span></a></li>
					<li class="list-group-item"><a href='staff/return/{{ project.id }}'>Повернення предметів з тимчасового зберігання <span class="badge">2.2</span></a></li>
					<li class="list-group-item"><a href='staff/add_on_ps/{{ project.id }}'>Приймання предметів на постійне зберігання <span class="badge">2.3</span></a></li>
				    <li class="list-group-item"><a href='activities/'>Список всіх подій </a></li>
                    <li class="list-group-item"><a href='objects/'>Список всіх об'єктів </a></li>
                    <li class="list-group-item"><a href='staff/inventory_save/{{ project.id }}'>Поставити предмет на інвентарний облік<span class="badge">2.4</span></a></li>
                    <li class="list-group-item"><a href='staff/spec_inventory_save/{{ project.id }}'>Поставити предмет на спеціальний інвентарний облік<span class="badge">2.5</span></a></li>
                    <li class="list-group-item"><a href='staff/ps_to_ts/{{ project.id }}'>Повернення предмета з ПЗ на ТЗ<span class="badge">2.7</span></a></li>
   				    <li class="list-group-item"><a href='staff/ts_to_ps/{{ project.id }}'>Повернення предмета з ТЗ на ПЗ<span class="badge">2.8</span></a></li>
                    <li class="list-group-item"><a href='staff/send_on_ps/{{ project.id }}'>Передача на постійне зберігання<span class="badge">2.9.1</span></a></li>
                    <li class="list-group-item"><a href='staff/writing_off/{{ project.id }}'>Списання (втрата тощо)<span class="badge">2.9.2</span></a></li>
                </ul>
                {% endif %}
                {% if form %}
				<ul class="list-group">
					<li class="list-group-item login" rel="reg_form"><a href='staff/add_on_ts/{{ project.id }}'>Приймання предметів на тимчасове зберігання <span class="badge">2.1</span></a></li>
					<li class="list-group-item login" rel="reg_form"><a href='staff/return/{{ project.id }}'>Повернення предметів з тимчасового зберігання <span class="badge">2.2</span></a></li>
					<li class="list-group-item login" rel="reg_form"><a href='staff/add_on_ps/{{ project.id }}'>Приймання предметів на постійне зберігання <span class="badge">2.3</span></a></li>
				    <li class="list-group-item login" rel="reg_form"><a href='activities/'>Список всіх подій </a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='objects/'>Список всіх об'єктів  </a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='staff/inventory_save/{{ project.id }}'>Поставити предмет на інвентарний облік<span class="badge">2.4</span></a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='staff/spec_inventory_save/{{ project.id }}'>Поставити предмет на спеціальний інвентарний облік<span class="badge">2.5</span></a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='staff/ps_to_ts/{{ project.id }}'>Повернення предмета з ПЗ на ТЗ<span class="badge">2.7</span></a></li>
   				    <li class="list-group-item login" rel="reg_form"><a href='staff/ts_to_ps/{{ project.id }}'>Повернення предмета з ТЗ на ПЗ<span class="badge">2.8</span></a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='staff/send_on_ps/{{ project.id }}'>Передача на постійне зберігання<span class="badge">2.9.1</span></a></li>
                    <li class="list-group-item login" rel="reg_form"><a href='staff/writing_off/{{ project.id }}'>Списання (втрата тощо)<span class="badge">2.9.2</span></a></li>
                </ul>
                {% endif %}

				<div class="margin-base-vertical">
					<small class="text-muted">Розробка та підтримка <a href="http://integration-plus.kiev.ua/?page_id=201">ТОВ "Інтеграція-плюс"</a>, 2015 р. </small>
				</div>

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->
    <div class="link_group">
        {% if form %}
        <a class="show_popup" rel="reg_form" href="#">Log in</a>
        {% endif %}
    </div>

</body>
</html>
