<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <style>
        .container {
            width: 85%;
        }
        .highlight {
            background-color: #cccccc !important;
        }
        .menu {
            position: absolute;
            height: 50%;
            width: 10%;
            right: 2%;
            top: 25%;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="content">
    <table id="table1" cellspacing="0" width="100%">
        <thead>
        <tr>
                                <th>ID</th>
                                <th>Назва</th>
                                <th>Кількість</th>
                                <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for a in objects %}
        <tr><td>{{ a.id }}</td><td>{{ a }}</td><td>{{ a.amount }}</td><td>{{ a.status }}</td>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="menu">
    <i onclick='ret()' title='Повернення з тимчасового зберігання' class='button0 fa fa-arrow-circle-o-right fa-4x'></i>
    <i onclick='ts()' title='Прийняти на тимчасове зберігання' class='button10 disabled fa fa-arrow-circle-o-left fa-4x'></i>
    <i onclick='ps()' title='Прийняти на постійне зберігання' class='button1 fa fa-arrow-circle-left fa-4x'></i>
    <i onclick='io()' title='Поставити на інвентарний облік' class='button2 fa fa-check fa-4x'></i>
    <i onclick='spec_io()' title='Поставити на спец. інвентарний облік' class='button11 fa fa-check-square-o fa-4x'></i>
    <i onclick='ps_ts()' title='Повернення предмета з ПЗ на ТЗ' class='button3 fa fa-exchange fa-4x'></i>
    <i onclick='ts_ps()' title='Повернення предмета з ТЗ на ПЗ' class='button4 fa fa-exchange fa-flip-horizontal fa-4x'></i>
    <i onclick='send_ps()' title='Передача на постійне зберігання' class='button5 fa fa-envelope fa-4x'></i>
    <i onclick='writing_off()' title='Списати' class='button6 fa fa-send fa-4x'></i>
    {% if add %}
        <i onclick='' title='Створити' class='button7 fa fa-plus fa-4x'></i>
    {% endif %}
    {% if change %}
        <i onclick='' title='Редагувати' class='button8 fa fa-cog fa-4x'></i>
    {% endif %}
    {% if remove %}
        <i onclick='' title='Видалити' class='button9 fa fa-close fa-4x'></i>
    {% endif %}
</div>

<script type="text/javascript">
        var remove_attr = function() {
            i = 0;
            but = $(".button"+i);
            while(but.length > 0) {
                but.removeAttr("disabled");
                i++;
                but = $(".button"+i);
            };
        };
        var rows = $('tr').not(':first');

        /* Create 'click' event handler for rows */
        rows.on('click', function(e) {

            /* Get current row */
            var row = $(this);

            rows.removeClass('highlight');
            row.addClass('highlight');

            remove_attr();

            if ($(".highlight td:nth-child(4)").text() == "Приймання на тимчасове зберігання") $(".button3").attr("disabled", "");

            if ($(".highlight td:nth-child(4)").text() == "Приймання на постійне зберігання"){
                $(".button0").attr("disabled", "");
                $(".button4").attr("disabled", "");
                };

        });

        $(document).ready(function() {
            $('#table1').dataTable( {
                "columns": [
                    { "type": "num" },
                    { "type": "html" },
                    { "type": "num" },
                    { "type": "html" },
                ],
                "language": {
                    "emptyTable":     "Нема доступних записів у таблиці",
                    "info":           "Відображеня _START_ - _END_ з _TOTAL_ записів",
                    "infoEmpty":      "Відображення 0-0 з 0 записів",
                    "infoFiltered":   "(фільтровано з _MAX_ записів)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Відображати _MENU_ записів",
                    "loadingRecords": "Завантаження...",
                    "processing":     "Обробка...",
                    "search":         "Пошук:",
                    "zeroRecords":    "Не знайдено записів",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                    "aria": {
                        "sortAscending":  ": сортування за зростанням",
                        "sortDescending": ": сортування за спаданням",
                    },
                }

            });
        } );

        var ps = function() {
            if (!($(".button1").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/add_on_ps/" + t;
                window.location.href = link;
            }
        };
        var ts = function() {
            if (!($(".button10").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/add_on_ts/" + t;
                window.location.href = link;
            }
        };
        var writing_off = function() {
            if (!($(".button6").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/writing_off/" + t;
                window.location.href = link;
            }
        };
        var io = function() {
            if (!($(".button2").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/inventory_save/" + t;
                window.location.href = link;
            }
        };
        var spec_io = function() {
            if (!($(".button11").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/spec_inventory_save/" + t;
                window.location.href = link;
            }
        };
        var ps_ts = function() {
            if (!($(".button3").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/ps_to_ts/" + t;
                window.location.href = link;
            }
        };
        var ts_ps = function() {
            if (!($(".button4").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/ts_to_ps/" + t;
                window.location.href = link;
            }
        };
        var send_ps = function() {
            if (!($(".button5").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/send_on_ps/" + t;
                window.location.href = link;
            }
        };
        var ret = function() {
            if (!($(".button0").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/return/" + t;
                window.location.href = link;
            }
        };


</script>
</body>
</html>