<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <style>
        .container {
            width: 85%;
        }
        .highlight {
            background-color: #cccccc !important;
        }
        .menu {
            position: absolute;
            height: 50%;
            width: 13%;
            right: 2%;
            top: 10%;
        }
        .disabled {
            color: gray;
        }
        .ts_ps{
            position: relative;
            top: 0;
        }

        .inv {
            position: relative;
            top: 15%;
        }

        .from_ps_to_ts {
            position: relative;
            top: 30%;
        }

        .write_off {
            position: relative;
            top: 45%;
        }

        .actions {
            position: relative;
            top: 60%;
        }

        figure.img {
          max-width: 100%;
        }
        figure.izo {
          width: min-content;
          margin: 0 auto;
        }
        figure.tri figure {
          width: 100%;
          margin: 0;
          letter-spacing: 6px;
          white-space: nowrap;
        }
        figure.img img {
          height: auto;
          margin: 0 auto;
        }
        figure.tri img {
          display: inline-block;
          max-width: 50px;  /* с учётом того, что фото одинаковой ширины, иначе JavaScript */
        }
        figure.img figcaption {
          max-width: 100%;
          padding: 0 1%;
          font: italic 90% Georgia,serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
    <table id="table1" cellspacing="0" width="100%">
        <thead>
        <tr>
                                <th>ID</th>
                                <th>Назва</th>
                                <th>Статус</th>

        </tr>
        </thead>
        <tbody>
        {% for a in objects %}
        {% if not a.empty %}
        <tr class='{% if a.scio %} scio {% endif %} {% if a.passport %} passport {% endif %} {% if a.io %} io {% endif %} {% if a.ts %} ts {% endif %} {% if a.ps %} ps {% endif %} {% if a.wo %} wo {% endif %} {% if a.ret %} ret {% endif %}'>
            <td align="center">{{ a.id }}</td><td align="center">{{ a }}</td><td align="center">{{ a.stat }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="menu">
    <div class="ts_ps">
        <figure class="img izo tri">
            <figure>
                <i onclick='ret()' title='Повернення з тимчасового зберігання' class='button0 disabled fa fa-arrow-circle-o-right fa-3x'></i>
                <i onclick='ts()' title='Прийняти на тимчасове зберігання' class='button10 fa fa-arrow-circle-o-left fa-3x'></i>
                <i onclick='ps()' title='Прийняти на постійне зберігання' class='button1 fa fa-arrow-circle-left fa-3x'></i>
            </figure>
            <figcaption>Операції з ТЗ та ПЗ</figcaption>
        </figure>
    </div>
    <div class="inv">
        <figure class="img izo tri">
            <figure>
                <i onclick='io()' title='Поставити на інвентарний облік' class='disabled button2 fa fa-check fa-3x'></i>
                <i onclick='spec_io()' title='Поставити на спец. інвентарний облік' class=' disabled button11 fa fa-check-square-o fa-3x'></i>
                <i onclick="passport()" title="Науково-уніфікований паспорт" class="button12 fa fa-newspaper-o fa-3x"></i>
            </figure>
            <figcaption>Облікові процедури</figcaption>
        </figure>
    </div>
    <div class="from_ps_to_ts">
        <figure class="img izo tri">
            <figure>
                <i onclick='ps_ts()' title='Повернення предмета з ПЗ на ТЗ' class='button3 disabled fa fa-exchange fa-3x'></i>
                <i onclick='ts_ps()' title='Повернення предмета з ТЗ на ПЗ' class='button4 disabled fa fa-exchange fa-flip-horizontal fa-3x'></i>
            </figure>
            <figcaption>З ПЗ на ТЗ і навпаки</figcaption>
        </figure>
    </div>
    <div class="write_off">
        <figure class="img izo tri">
            <figure>
                <i onclick='send_ps()' title='Передача на постійне зберігання' class='disabled button5 fa fa-envelope fa-3x'></i>
                <i onclick='writing_off()' title='Списати' class='disabled button9 fa fa-send fa-3x'></i>
            </figure>
            <figcaption>Вилучення з колекції</figcaption>
        </figure>
    </div>
    <div class="actions">
        <figure class="img izo tri">
            <figure>
                {% if user.is_staff %}
                <i onclick='del()' title='Видалити' class='disabled button7 fa fa-close fa-3x'></i>
                {% endif %}
                <i onclick='print()' title='Роздрукувати паспорт' class='disabled button15 fa fa-print fa-3x'></i>
            </figure>
            <figcaption>Дії з об'єктами</figcaption>
        </figure>
    </div>
</div>

<script type="text/javascript">
        document.body.innerHTML = document.body.innerHTML.replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
        var rows = $('tr').not(':first');
        var buttons = $('i');
        /* Create 'click' event handler for rows */
        rows.on('click', function(e) {
            $.each(buttons, function(k, v) {
                $(this).removeClass("disabled");
            })
            /* Get current row */
            var row = $(this);
            rows.removeClass('highlight');
            row.addClass('highlight');

            if (row.hasClass("io")) {
                $(".button2").addClass("disabled");
            }
            if (row.hasClass("scio")) {
                $(".button11").addClass("disabled");
            }
            if (row.hasClass("ts")) {
                $(".button10").addClass("disabled");
                $(".button1").addClass("disabled");
                $(".button3").addClass("disabled");
            }
            if (row.hasClass("ps")) {
                $(".button5").addClass("disabled");
                $(".button4").addClass("disabled");
                $(".button1").addClass("disabled");
                $(".button0").addClass("disabled");
                $(".button10").addClass("disabled");
            }
            if (row.hasClass("wo")) {
                $(".button0").addClass("disabled");
                $(".button1").addClass("disabled");
                $(".button2").addClass("disabled");
                $(".button3").addClass("disabled");
                $(".button4").addClass("disabled");
                $(".button5").addClass("disabled");
                $(".button6").addClass("disabled");
                $(".button7").addClass("disabled");
                $(".button8").addClass("disabled");
                $(".button10").addClass("disabled");
                $(".button11").addClass("disabled");
            }
            if (row.hasClass("ret")) {
                $(".button0").addClass("disabled");
                $(".button3").addClass("disabled");
                $(".button4").addClass("disabled");
                $(".button5").addClass("disabled");
                $(".button6").addClass("disabled");
            }
            $(".button15").addClass("disabled");
            if (row.hasClass("passport")) {
                $(".button15").removeClass("disabled");
            }
        });

        $(document).ready(function() {
            $('#table1').dataTable( {
                "columns": [
                    { "type": "num" },
                    { "type": "html" },
                    { "type": "html" },
                ],
                "language": {
                    "emptyTable":     "Нема доступних записів у таблиці",
                    "info":           "Відображеня _START_ - _END_ з _TOTAL_ записів",
                    "infoEmpty":      "Відображення 0-0 з 0 записів",
                    "infoFiltered":   "(фільтровано з _MAX_ записів)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Відображати _MENU_ записів",
                    "loadingRecords": "Завантаження...",
                    "processing":     "Обробка...",
                    "search":         "Пошук:",
                    "zeroRecords":    "Не знайдено записів",
                    "paginate": {
                        "first":      "Перша",
                        "last":       "Остання",
                        "next":       "Наступна",
                        "previous":   "Попередня"
                    },
                    "aria": {
                        "sortAscending":  ": сортування за зростанням",
                        "sortDescending": ": сортування за спаданням",
                    },
                }

            });
        } );

        var ps = function() {
            if (!($(".button1").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/add_on_ps/" + t;
                window.location.href = link;
            }
        };
        var ts = function() {
            if (!($(".button10").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/add_on_ts/" + t;
                window.location.href = link;
            }
        };
        var writing_off = function() {
            if (!($(".button9").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/writing_off/" + t;
                window.location.href = link;
            }
        };
        var del = function() {
            if (!($(".button7").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/delete/" + t;
                window.location.href = link;
            }
        };
        var io = function() {
            if (!($(".button2").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/inventory_save/" + t;
                window.location.href = link;
            }
        };
        var spec_io = function() {
            if (!($(".button11").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/spec_inventory_save/" + t;
                window.location.href = link;
            }
        };
        var ps_ts = function() {
            if (!($(".button3").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/ps_to_ts/" + t;
                window.location.href = link;
            }
        };
        var ts_ps = function() {
            if (!($(".button4").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/ts_to_ps/" + t;
                window.location.href = link;
            }
        };
        var send_ps = function() {
            if (!($(".button5").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/send_on_ps/" + t;
                window.location.href = link;
            }
        };
        var ret = function() {
            if (!($(".button0").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/staff/return/" + t;
                window.location.href = link;
            }
        };
        var passport = function() {
            if (!($(".button12").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                if (!t) {
                    t = 0;
                }
                var link = "/staff/passport/" + t;
                window.location.href = link;
            }
        };
        var print = function() {
            if (!($(".button15").hasClass('disabled'))) {
                var t = $(".highlight td:first-child").text();
                var link = "/pdf/" + t;
                window.location.href = link;
            }
        }

</script>
</body>
</html>