<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>{{ project }}</h2>
    <h3>{{ project.collection }}</h3>
    <h3>{{ project.author }}</h3>
    <div>Все поля не вывожу так как в данный момент это не обязательно</div>
    {% if return_from_tc %}
        <form action='/staff/return/{{project.id}}/'>
            <input type = "submit" value="Return from TC">
        </form>
    {% endif %}
    {% if getting_on_pc %}
    <form action='/staff/add_on_ps/{{project.id}}/'>
            <input type = "submit" value="Getting on PC">
    </form>
    {% endif %}
    <hr>
    <div>Работают только те кнопки, что находятся выше линии.</div>
    {% if wire_off %}
        <form action=''>
            <input type = "submit" value="Wire-off">
        </form>
    {% endif %}
    {% if editing %}
        <form action=''>
            <input type = "submit" value="Editing">
        </form>
    {% endif %}
</body>
</html>