<!DOCTYPE html>
<html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="container">
   <div class="row">
   {% for a in acts %}
      <div class="col-md-4 col-md-offset-4">
        <h2>{{ a }}</h2>
        {% for qs in a.attributeassignment_set.all %}
            {{ qs }} <br>
        {% endfor %}
        <form action='approve{{a.id}}/' class="form-actions">
         {% buttons %}
            <button type="submit" class="btn btn-success btn-block">
                {% bootstrap_icon "star" %} Submit
            </button>
         {% endbuttons %}
        </form>
      </div>
   </div>
</div>
{% endfor %}
</body>
</html>